body {
  background-image: url('https://wallpaperscraft.com/image/minimalism_sky_clouds_sun_mountains_lake_landscape_95458_1920x1080.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.radialnav-sector {
  fill: rgba(255, 255, 255, .3);
  stroke: rgba(255, 255, 255, .1);
  stroke-width: 1;
  transition: all .4s;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
